html {
      height: 100%;
}

body {
      font-family: "Noto Sans JP", sans-serif;
      height: 100%;
      margin: 0;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background: linear-gradient(181deg,
                  rgb(83, 158, 236) 0%,
                  rgb(179, 247, 255) 100%);
}

h1 {
      color: rgb(36, 105, 253);
      font-size: 36px;
      font-weight: bold;
      line-height: 30px;
      margin: 2;
      font-family: "Noto Sans JP", sans-serif;
}

ul {
      margin: 0;
      padding: 0;
}

li {
      color: rgb(36, 105, 253);
      font-size: 20px;
      font-weight: 100;
      height: 19px;
      line-height: 1;
      list-style: none;
      font-family: "Noto Sans JP", sans-serif;
}

li:first-letter {
      text-transform: capitalize;
}

.weather-app {
      border: 1px solid rgb(36, 105, 253);
      padding: 20px;
      margin: 30px auto;
      border-radius: 20px;
      max-width: 1000px;
      box-shadow: 20px 15px 30px 5px rgba(2, 18, 78, 0.4);
      background: linear-gradient(181deg,
                  rgb(133, 211, 252) 0%,
                  rgb(209, 240, 248) 98%);
}

.overview {
      margin-bottom: 20px;
}

.weather-temperature img {
      margin-right: 5px;
      height: 64px;
      width: 64px;
}

.weather-temperature strong {
      color: rgb(36, 105, 253);
      font-size: 70px;
      font-weight: 400;
      line-height: 1;
      font-family: "Noto Sans JP", sans-serif;
}

.weather-temperature .units {
      position: relative;
      font-size: 16px;
      top: -34px;
}

.weather-temperature .active {
      color: rgb(127, 186, 253);
      cursor: default;
}

footer {
      text-align: center;
      font-family: "Noto Sans JP", sans-serif;
      font-size: 12px;
}