body {
      font-family: "Noto Sans JP", sans-serif;
      background: linear-gradient(181deg,
                  rgb(83, 158, 236) 0%,
                  rgb(179, 247, 255) 100%);
}

h1 {
      color: rgb(36, 105, 253);
      font-size: 36px;
      font-weight: bold;
      line-height: 30px;
      margin: 2;
      font-family: "Noto Sans JP", sans-serif;
}

ul {
      margin: 0 0 10px;
      padding: 0;
}

li {
      color: rgb(36, 105, 253);
      font-size: 20px;
      font-weight: 100;
      height: 19px;
      line-height: 1;
      list-style: none;
      font-family: "Noto Sans JP", sans-serif;
}

.weather-app {
      border: 1px solid rgb(36, 105, 253);
      padding: 20px;
      margin: 30px auto;
      border-radius: 20px;
      max-width: 1000px;
      box-shadow: 20px 15px 30px 5px rgba(2, 18, 78, 0.4);
      background: linear-gradient(181deg,
                  rgb(133, 211, 252) 0%,
                  rgb(209, 240, 248) 98%);
}

.temperature {
      color: rgb(36, 105, 253);
      font-size: 70px;
      font-weight: 400;
      line-height: 1;
      font-family: "Noto Sans JP", sans-serif;
}

.units {
      position: relative;
      top: -34px;
      color: rgb(36, 105, 253);
      font-family: "Noto Sans JP", sans-serif;
}

.search-form {
      margin-bottom: 20px;
      font-family: "Noto Sans JP", sans-serif;
}